<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" media="all" th:href="@{/css/style.css}"/>
    <title>メッセージ一覧</title>
</head>
<body>

<form action="/" th:action="@{'/'}" method="post">
    <label>メッセージ
        <input th:type="text" th:name="message" name="message" />
    </label>
    <label>
        <input th:type="submit" name="追加">
    </label>
</form>


<table id="messages">
    <tr>
        <th>メッセージ</th><th></th><th></th>
    </tr>
    <tr th:each="message : ${messages}">
        <td><a th:href="@{'/' + ${message.id}}"><span th:text="${message.message}"></span></a></td>
        <td>
            <form action="/update" th:action="@{'/update'}" method="post">
                <input th:type="hidden" th:name="id" name="id" th:value="${message.id}" />
                <label>メッセージ
                    <input th:type="text" th:name="message" name="message" />
                </label>
                <label>
                    <input th:type="submit" value="更新">
                </label>
            </form>
        </td>
        <td>
            <form action="/delete" th:action="@{'/delete'}" method="post">
                <input th:type="hidden" th:name="id" name="id" th:value="${message.id}" />
                <label>
                    <input th:type="submit" value="削除">
                </label>
            </form>
        </td>
    </tr>
</table>

</body>
</html>