name: Integration

on:
  push:
     branches:
     - main
  pull_request:
    branches:
      - main

  workflow_dispatch:

jobs:

  android:
    strategy:
      matrix:
        path:
          - android/HelloAndroid

    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        java-version: 21
        distribution: liberica

    - name: Setup cache
      uses: actions/cache@v5
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
        restore-keys: |
          ${{ runner.os }}-gradle-

    - name: Build with Gradle (${{ matrix.path }})
      working-directory: ${{ matrix.path }}
      run: |
        chmod +x gradlew
        ./gradlew build -x test

  java-example:
    timeout-minutes: 120
    strategy:
      matrix:
        targets:
          - path: java-example
          - path: java-example/spring-boot/morphological-analyis/kuromoji
          - path: java-example/spring-boot/spring-boot-cassandra
          - path: java-example/spring-boot/spring-boot-data-dynamodb
          - path: java-example/spring-boot/spring-boot-data-jpa-example
          - path: java-example/spring-boot/spring-boot-data-jpa-query-example
          - path: java-example/spring-boot/spring-data-jpa-async/spring-data-jpa-async
          - path: java-example/spring-boot/spring-boot-jdbc-example
          - path: java-example/spring-boot/spring-boot-jdbi-example
          - path: java-example/spring-boot/spring-boot-jpa-example
          - path: java-example/spring-boot/spring-boot-metrics
          - path: java-example/spring-boot/spring-boot-micrometer
          - path: java-example/spring-boot/spring-boot-web-example
          - path: java-example/spring-boot/spring-boot-web-thymeleaf-example
          - path: java-example/spring-boot/webauthn/server

    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Set up JDK  25
      uses: actions/setup-java@v5
      with:
        java-version: 25
        distribution: liberica

    - name: Setup cache
      uses: actions/cache@v5
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
        restore-keys: |
          ${{ runner.os }}-gradle-

    - name: Build with Gradle (${{ matrix.targets.path }})
      run: |
        cd ${{ matrix.targets.path }}
        chmod +x gradlew
        ./gradlew build -x test

  node:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v6

    - name: Use Node.js
      uses: actions/setup-node@v6
      with:
        node-version: 'lts/*'
        check-latest: true
        package-manager-cache: false

    - uses: pnpm/action-setup@v4
      name: Install pnpm
      with:
        run_install: |
          - recursive: true
            args: [--no-frozen-lockfile]

    - name: build
      run: pnpm all

  quarkus-example:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 25
      uses: actions/setup-java@v5
      with:
        java-version: 25
        distribution: liberica

    - name: Checkout
      uses: actions/checkout@v6
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
        restore-keys: |
          ${{ runner.os }}-gradle-

    - name: Build with Maven (quarkus-example/getting-started)
      run: |
        cd quarkus-example/getting-started
        ./mvnw install

    - name: Build with Gradle (quarkus-example/quarkus-mp-example)
      run: |
        cd quarkus-example/quarkus-mp-example
        chmod +x gradlew
        ./gradlew build
